<% if @listings_today.present? %>
  <h1>TODAY</h1>
  <% @listings_today.each do |listing| %>
    <%= render 'listing_row', listing: listing %>
  <% end %>
<% end %>

<% if @listings_yesterday.present? %>
  <h1>YESTERDAY</h1>
  <% @listings_yesterday.each do |listing| %>
    <%= render 'listing_row', listing: listing %>
  <% end %>
<% end %>

<% for i in 2..13 %>
  <h1><%= (Date.today - i.day).to_formatted_s(:month_ordinal) %></h1>
<% end %>